.game-field {
 height: 100%;
 width: 100%;
}

.kinderbegeleidster-character {
  height: 60px;
  width: 60px;
  z-index: 100;
}

.kinderbegeleidster-character-img {
  height: 100%;
  width: 100%;
}

.full_map-character {
  height: 100%;
  width: 100%;
  position: relative;
}

.full_map-character-img {
  height: 100%;
  width: 100%;
}

.bus-character {
  height: 45px;
  width: 80px;
}

.bus-character-img {
  height: 100%;
  width: 100%;
}

.desert-character {
  height: 180px;
  width: 180px;
 
}

.desert-character-img {
  height: 100%;
  width: 100%;
}

.school_vacation-character {
  height: 150px;
  width: 180px;
}

.school_vacation-character-img {
  height: 100%;
  width: 100%;
}

.wrong_turn-character {
  height: 150px;
  width: 180px;
}

.wrong_turn-character-img {
  height: 100%;
  width: 100%;
}

.map_area_locked-character {
  height: 35px;
  width: 35px;
}

.map_area_locked-character-img {
  height: 100%;
  width: 100%;
}

.map_area_unlocked-character {
  height: 35px;
  width: 35px;
}

.map_area_unlocked-character-img {
  height: 100%;
  width: 100%;
}

.position_field-character {
  height: 100px;
  width: 100px;
}

.position_field-character-img {
  height: 100%;
  width: 100%;
}

.school_vacation_main-character {
  width: 619px;
  height: 640px;
  position: relative;
}

.school_vacation_main-character-img {
  height: 100%;
  width: 100%;
}

.board_woods-character {
  height: 110px;
  width: 100px;
}

.board_woods-character-img {
  height: 100%;
  width: 100%;
}

.building-inside {
  visibility: hidden;
}

.inventory_building-character {
  height: 180px;
  width: 150px;
}

.inventory_building-character-img {
  height: 100%;
  width: 100%;
}

.inventory_building_inside-character {
  opacity: 0;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 140px;
  left: 100px;
}

.building-inside-true {
  opacity: 1;
}

.inventory_building_inside-character-img {
  height: 100%;
  width: 100%;
}

.inventory_whole-character {
  height: 180px;
  width: 150px;
  position: absolute;
}

.inventory_whole-character-img {
  height: 100%;
  width: 100%;
}

.inventory_whole_minimised-character {
  height: 25px;
  width: 25px;
  position: absolute;
}

.inventory_whole_minimised-character-img {
  height: 100%;
  width: 100%;
}

.item_honey-character {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 120px;
  left: 170px;
}

.item_honey-character-img {
  height: 100%;
  width: 100%;
}

.item_honey-inside-inventory {
  position: absolute;
  top: 38px;
  left: 15px;
  opacity: 1;
}

.item_rope-character {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 120px;
  left: 210px;
}

.item_rope-character-img {
  height: 100%;
  width: 100%;
}

.item_rope-inside-inventory {
  position: absolute;
  top: 38px;
  left: 65px;
  opacity: 1;
}

.item_stick-character {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 120px;
  left: 250px;
}

.item_stick-character-img {
  height: 100%;
  width: 100%;
}

.item_stick-inside-inventory {
  position: absolute;
  top: 38px;
  left: 110px;
  opacity: 1;
}

.outfolded {
  opacity: 1;
}

.collapsed {
  opacity: 0;
}

.exit-exit-ok {
  color: rgb(4, 183, 4);
}

.exit-exit-not-ok {
  color: rgb(167, 17, 17);
}